# MinIO Configuration
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_ENDPOINT=http://minio:9000

# Kafka Configuration
KAFKA_BROKER=kafka:9092

# Groq API for Langchain RAG
GROQ_API_KEY=gsk_your_api_key_here

# Airflow
AIRFLOW_UID=50000\n